header {
  background-color: rgb(173, 219, 247);
  color: rgb(0, 86, 125);
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 6px;
  height: auto;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(173, 219, 247);
}

#Info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

.Sign{
  background-color: #0491aa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}