{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{% static 'PatientManager/login.css' %}" />
<body>
    <form action="login" style="border: 1px solid #ccc" method="post">
        {% csrf_token %}
        <div class="container">
          <h1>Login Form</h1>
          <hr />
  
          <label for="Name"><b>Name</b></label>
          <input type="text" placeholder="Enter Name eg dummyuser" name="patientname" required />
  
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email eg dummyuser@gmail.com" name="email" required />
  
          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password eg 1234"
            name="psw"
            required
          />

  
          <div class="clearfix">
            <button type="submit" class="signupbtn">Sign In</button>
          </div>
        </div>
      </form>
</body>
</html>